<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SpiderU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <SpiderU.Properties.Settings>
            <setting name="CSVAddComment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSVAddHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useAutoFileName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoFileNamePrefix" serializeAs="String">
                <value/>
            </setting>
            <setting name="autoFileNameSuffix" serializeAs="String">
                <value/>
            </setting>
            <setting name="autoFileNameSerialDigits" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="autoFileNameSerialNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="outputFileFormatID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CSVEncodingID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="syncAllScope" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="defaultAutoFileNameSuffixFormat" serializeAs="String">
                <value/>
            </setting>
            <setting name="CSVCommentIncludeModelName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSVCommentIncludeDateTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="fontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="autoFileNamePrefixInitialValue" serializeAs="String">
                <value>yyyyMMdd-</value>
            </setting>
        </SpiderU.Properties.Settings>
    </userSettings>
</configuration>
